<body style="background-color:#FBCBCB;">
 
<h2 style="color:blue;" align="center">Welcome To Dashboard:</h2>
<button type="button" onclick="window.location='/users/:user_id/profiles/:id'"class="btn btn-info btn-lg pull-right">My Profile</button>
<button type="button" onclick="window.location='/users/myuser'"class="btn btn-success btn-lg pull-right">All User List</button>
<button type="button" onclick="window.location='/users'"class="btn btn-primary btn-lg pull-right">My Friend List</button>
</body>
<button type="button" onclick="window.location='/posts'"class="btn btn-warning btn-lg pull-right">All Posts</button>
</body>
<button type="button" onclick="window.location='/posts/new'"class="btn btn-info btn-lg pull-right">Create New Posts</button>
</body>