<body style="background-color:#D2B7F1;">
<h1>Followed User</h1>
<table border= "1" style="width:50%">
  <tr>
     <th>FirstName</th>
     <th>LastName</th>
     <th>Post</th>
 </tr>
 <% @relationships.each do |hel| %>
  <tr>
  <td><%= User.find(hel.followed_id).first_name %></td>
  <td><%= User.find(hel.followed_id).last_name %></td>
  <td><%= Post.find(hel.followed_id).title %></td>
  </tr>
  <%end%>
</table>
</body>
<%= link_to 'Back',  root_path,class: "btn btn-primary btn-xs" %>

     
