
<h1>Followed User</h1>
<table border= "1" style="width:50%">
  <tr>
     <th>FirstName</th>
     <th>LastName</th>
     <th>Post</th>
     <!-- <th>Comment</th> -->
 </tr>
 <% @relationships.each do |hel| %>
  <tr>
  <td><%= User.find(hel.followed_id).first_name %></td>
  <td><%= User.find(hel.followed_id).last_name %></td>
  <td><%= Post.find(hel.followed_id).title %></td>
  <td><%#= Comment.find(hel.followed_id).body %></td>
  </tr>
  <%end%>
</table>
<%= link_to 'Back',  users_myuser_path,class: "btn btn-primary btn-xs" %>

     
